<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>68583673381-db4vu8t4djgkslu4j01ncu8ccavre7do.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.68583673381-db4vu8t4djgkslu4j01ncu8ccavre7do</string>
	<key>API_KEY</key>
	<string>AIzaSyA0pSzU0RuFXh60HtEv8bczCpD3Z1alUEc</string>
	<key>GCM_SENDER_ID</key>
	<string>68583673381</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fyp</string>
	<key>PROJECT_ID</key>
	<string>fyplogin-fcdfd</string>
	<key>STORAGE_BUCKET</key>
	<string>fyplogin-fcdfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:68583673381:ios:bbaa3665163ee88c5c39cc</string>
</dict>
</plist>